{namespace ttapp.gui.tpl.progress}

/**
 *
 * @public
 */
{template .apiloader}
	<div class="{css apiloader-wrapper} {css apiloader-wrapper-hidden} {css apiloader-wrapper-detached}">
		<div class="{css apiloader}">
			<img src="static/img/a.gif" width="16" height="16" alt="loading" />
		</div>
	</div>
{/template}
