{namespace ttapp.gui.tpl.sites_config}

goog.require('ttapp.gui.tpl.forms');

/**
 *
 * @public
 */
{template .configPage}
	{call ttapp.gui.tpl.forms.form}
		{param sections: [
		
		] /}
	{/call}
{/template}
